/* /Pages/Index.razor.rz.scp.css */
.primary-container[b-knofh64xkx] {
    margin: 5px;
    padding: 5px;
}

.username-container[b-knofh64xkx] {
    margin: 5px;
    padding: 5px;
}

.startdate-container[b-knofh64xkx] {
    margin: 5px;
    padding: 5px;
}

.enddate-container[b-knofh64xkx] {
    margin: 5px;
    padding: 5px;
}

.button-container[b-knofh64xkx] {
    margin: 5px;
    padding: 5px;
}

h1[b-knofh64xkx] {
    margin: 5px;
    padding: 5px;
}
