.primary-container {
    margin: 5px;
    padding: 5px;
}

.username-container {
    margin: 5px;
    padding: 5px;
}

.startdate-container {
    margin: 5px;
    padding: 5px;
}

.enddate-container {
    margin: 5px;
    padding: 5px;
}

.button-container {
    margin: 5px;
    padding: 5px;
}

h1 {
    margin: 5px;
    padding: 5px;
}
